$black: #000000;
$white: #ffffff;

$main-text: #5f5f5f;
$main-title: #3f454b;
$title: #3f454b;
$dark-gray: #8c8c8c;
$light-gray: #c0c0c0;
$input-color: #f3f3f3;

$background-space: #e5e9ea;
$background-modal: rgba(0, 0, 0, 0.5);
$background-note: #f7f7f7;

$pink-light: #f29b9b;
$done: #8acc48;

$task-shadow: rgba(0, 0, 0, 0.05);

$accent-color-1: #da8e8e;
