@import './styles/index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  background-color: $background-space;
}

.header {
  display: flex;
  padding: 18px 0;
  background-color: $white;
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: $main-title;
    margin: 0 33px;
  }
}

.main {
  height: 100%;
}
