@import '../../app/styles/colors';

.section {
  display: flex;
  flex-direction: column;
  width: 25%;

  &_empty {
    padding: 0 48px 20px 48px;
    padding-top: 50%;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $light-gray;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 24px;

    &__title {
      font-family: 'Roboto Condensed';
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      color: $white;
    }

    &__task-counter {
      position: relative;
      width: 24px;
      height: 24px;
      font-size: 14px;
      line-height: 16px;
      color: $input-color;
      border-radius: 50%;

      & span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__add-task-btn {
    cursor: pointer;
    align-self: center;
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    background-color: $white;
    box-shadow: -2px 2px 4px $task-shadow;
  }
}

.tasks {
  display: flex;
  flex-direction: column;
  padding: 12px 6px 6px 12px;
  overflow-y: auto;
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}

.icon {
  &__plus {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    color: $dark-gray;
  }
}
